{% extends "simple/base_index.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}
<div class="index flex flex-col grow justify-center items-center content-center">
    <div class="title mb-16 text-9xl font-digital_dreamer">
        <h1>Maddog</h1>
    </div>
    {% include 'simple/simple_search.html' %}
    <div class="flex flex-row w-xl justify-between">
        <div class="mt-6 p-2 bg-gray-900 border border-gray-800">
            <div class="w-6 h-6">
            </div>
        </div>
        <div class="mt-6 p-2 bg-gray-900 border border-gray-800">
            <div class="w-6 h-6">
            </div>
        </div>
    </div>
</div>
<div class="h-24"></div>
{% endblock %}