<div class="scrollx">{{- '' -}}
    <table class="striped">{{- '' -}}
        <tr class="border-b border-gray-800">{{- '' -}}
            <th class="p-2">{{ _('Allow') }}</th>{{- '' -}}
            <th class="p-2">{{ _('Keywords (first word in query)') }}</th>{{- '' -}}
            <th class="p-2">{{ _('Name') }}</th>{{- '' -}}
            <th class="p-2">{{ _('Description') }}</th>{{- '' -}}
            <th class="p-2">{{ _('Examples') }}</th>{{- '' -}}
        </tr>{{- '' -}}

        <tr class="pref-group border-b border-gray-800 bg-gray-900">{{- '' -}}
            <th scope="colgroup" colspan="5" class="p-2">
                {{- _("This is the list of SearXNG's instant answering modules.") -}}
            </th>{{- '' -}}
        </tr>

        {%- for info in answer_storage -%}
        <tr class="border-b border-gray-800">{{- '' -}}
            <td class="checkbox-col p-2"></td>{{- '' -}}
            <td class="p-2">{{ info.keywords|join(', ') }}</td>{{- '' -}}
            <td class="p-2">{{ info.name }}</td>{{- '' -}}
            <td class="p-2">{{ info.description }}</td>{{- '' -}}
            <td class="p-2">{{ info.examples|join(', ') }}</td>{{- '' -}}
        </tr>
        {%- endfor -%}

        <tr class="pref-group border-b border-gray-800 bg-gray-900">{{- '' -}}
            <th scope="colgroup" colspan="5" class="p-2">
                {{- _('This is the list of plugins.') -}}
            </th>{{- '' -}}
            </th>

            {%- for plugin in plugins_storage -%}
            {%- if plugin.preference_section == 'query' -%}
        <tr class="border-b border-gray-800">{{- '' -}}
            <td class="checkbox-col p-2">{{- checkbox_onoff_reversed('plugin_' + plugin.id, plugin.id not in
                allowed_plugins, 'plugin_labelledby' + plugin.id) -}}</td>{{- '' -}}
            <td class="p-2">{{ plugin.keywords|join(', ') }}</td>{{- '' -}}
            <td class="p-2">{{ _(plugin.name) }}</td>{{- '' -}}
            <td class="p-2" id="{{ 'plugin_labelledby' + plugin.id }}">{{ _(plugin.description) }}</td>{{- '' -}}
            <td class="p-2">{{ plugin.examples|join(', ') }}</td>{{- '' -}}
        </tr>
        {%- endif -%}
        {%- endfor -%}
    </table>{{- '' -}}
</div>{{- '' -}}